.sale__inner {
  padding: 60px 0;
  position: relative;
}

.sale__heading {
  margin-bottom: 24px;
}

.sale__category-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 36px;
}

.sale__category-tab {
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 13px 30px;
  background: var(--color-grey);
  border-radius: 21px;
  cursor: pointer;
}

.sale__category-tab:not(.sale__category-tab--active):hover {
  background: var(--color-grey-hover);
}

.sale__category-tab:not(.sale__category-tab--active):active {
  background: var(--color-text-main);
  color: var(--color-white);
}

.sale__category-tab--active {
  background: var(--color-text-main);
  color: var(--color-white);
}

.sale__buttons {
  position: absolute;
  right: 0;
  top: 109px;
  z-index: 2;
}

.sale__item-list {
  margin: 0;
  padding: 0;
}

.sale__message {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
