.promo__inner {
  position: relative;
  background-color: var(--color-bg-grey);
  overflow: hidden;
  margin-bottom: 60px;
}

.promo__list {
  margin: 0;
  padding: 0;
  min-height: 560px;
}

.promo__buttons {
  position: absolute;
  width: calc(100% - 48px);
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.promo__list-item {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 102px;
  position: relative;
}

.promo__list-item::before {
  content: '';
  position: absolute;
  width: 721px;
  height: 536px;
  background: url('../../../public/img/icons/union.svg') center no-repeat;
  top: 24px;
  left: 70px;
  z-index: -1;
}

.promo__minor-text {
  display: block;
  margin-bottom: 30px;
  font-family: 'Prata';
  font-size: 20px;
  line-height: 100%;
}

.promo__major-text {
  display: block;
  font-family: 'Prata';
  font-size: 50px;
  line-height: 100%;
  margin-bottom: 54px;
}

.promo__details {
  max-width: 200px;
}

.promo__details:hover {
  background-color: #505050;
}

.promo__details:active {
  background-color: #000000;
}

.promo .promo__pagination-wrapper.swiper-pagination-bullets {
  width: max-content;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.promo__pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid var(--color-text-main);
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.promo__pagination-bullet-active {
  background-color: var(--color-text-main);
}

.promo__image {
  position: absolute;
  right: 36px;
  bottom: 0;
  z-index: 1;
}
