.card {
  max-width: 310px;
  min-height: 370px;
  padding: 16px 24px 26px;
  border: 1px solid var(--color-grey);
  position: relative;
}

.card--opened {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
}

.card__tip-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  min-height: 22px;
}

.card__tip {
  padding: 4px 12px;
  color: var(--color-white);
  font-size: 13px;
  font-weight: 500;
  background-color: var(--color-bg-sale);
  border-radius: 15px;
}

.card__tip--hit {
  background-color: var(--color-bg-hit);
}

.card__tip--new {
  background-color: var(--color-bg-new);
}

.card__tip-hidden {
  display: none;
}

.card__controls {
  position: absolute;
  top: 14px;
  right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  z-index: 2;
}

.card__controls svg {
  transition: all 0.2s linear;
}

.card__controls-favorite,
.card__controls-compare {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.card__controls-favorite:not(.active):hover svg,
.card__controls-compare:not(.active):hover svg {
  fill: var(--color-control-hover);
}

.card__controls-favorite:active svg {
  fill: #E24B33;
}

.card__controls-compare:active svg {
  fill: var(--color-control-hover);
}

.card__image {
  margin: 0 auto 26px;
}

.card__prices-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__prices {
  margin: 0;
}

.card__new-price {
  font-weight: 600;
  font-size: 18px;
  margin-right: 8px;
}

.card__old-price {
  text-decoration-line: line-through;
  color: #8F8F8F;
}

.card__old-price--hidden,
.card__diff--hidden {
  display: none;
}

.card__price-diff {
  padding: 4px 8px;
  font-weight: 500;
  font-size: 13px;
  color: var(--color-white);
  background-color: #E24B33;
  border-radius: 15px;
}

.card__description {
  margin: 0;
  line-height: 160%;
  text-align: left;
  max-width: 95%;
}

.card .card__pagination-wrapper {
  width: max-content;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.card__pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid var(--color-text-main);
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.card__pagination-bullet-active {
  background-color: var(--color-text-main);
}

.card__more-options {
  position: absolute;
  width: 35px;
  height: 5px;
  border-radius: 5px;
  right: 50%;
  bottom: 8px;
  background-color: var(--color-grey);
  border: none;
  padding: 0;
  cursor: pointer;
  transform: translate(50%, 0);
  transition: all 0.2s linear;
}

.card__more-options:hover {
  background-color: var(--color-control-hover);
}

.card__more-options:active {
  background-color: var(--color-control-hover);
}

.card__options {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 24px;
}

.card__options-hidden {
  display: none;
}

.card__select {
  min-height: 40px;
  padding-left: 16px;
  font-size: inherit;
  line-height: inherit;
  border: none;
  appearance: none;
  cursor: pointer;
  background: var(--color-grey);
  color: var(--color-text-main);
}

