.sl {
  display: flex;
  align-items: center;
}

.sl__btn-next,
.sl__btn-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: transparent;
  border: 1px solid var(--color-text-main);
  cursor: pointer;
  transition: all 0.2s linear;
}

.sl__btn-next:hover,
.sl__btn-prev:hover {
  background-color: #F5F5F5;
}

.sl__btn-next svg,
.sl__btn-prev svg {
  transition: all 0.2s linear;
}

.sl__btn-next:active svg {
  transform: translateX(50%);
}

.sl__btn-prev:active svg {
  transform: translateX(-50%);
}

.sl__btn-prev {
  margin-right: 8px;
}

.sl__btn-disabled {
  opacity: 0.2;
}
