.dayitems__inner {
  padding: 60px 0;
  position: relative;
}

.dayitems__heading {
  margin-bottom: 44px;
  line-height: 76%;
}

.dayitems__list {
  margin: 0;
  padding: 0;
}

.dayitems__buttons {
  position: absolute;
  right: 0;
  top: 50px;
}
