.header__inner {
  padding: 24px 0 20px;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}

.nav__wrapper--top {
  padding: 18px 0 23px;
  position: relative;
  justify-content: flex-start;
  gap: 62px;
}

.nav__wrapper--bottom {
  padding: 0 25px;
  background-color: var(--color-bg-grey);
  gap: 89px;
}

.nav__logo-link {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav__city-label {
  padding-left: 20px;
  position: relative;
}

.nav__city-label:hover::before {
  opacity: 0.5;
}

.nav__city-label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 45%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background: url('../../../public/img/icons/geo.svg') center no-repeat;
  transition: all 0.2s linear;
}

.nav__city-select {
  padding: 10px 13px 10px 10px;
  padding-left: 5px;
  font-size: inherit;
  line-height: inherit;
  border: none;
  appearance: none;
  cursor: pointer;
  background: url('../../../public/img/icons/city-dropdown.svg') no-repeat;
  background-position: right 0 center;
  margin-right: 17px;
  letter-spacing: 0.5px
}

.nav__call-link {
  display: block;
  position: relative;
  padding: 5px;
  transition: all 0.2s linear;
}

.nav__call-link::before {
  content: '';
  position: absolute;
  left: -21px;
  top: 45%;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  background: url('../../../public/img/icons/phone.svg') center no-repeat;
}

.nav__call-link:hover {
  opacity: 0.5;
}

.nav__authorization {
  display: flex;
  gap: 10px;
  margin-left: auto;
  position: relative;
}

.nav__authorization a {
  padding: 5px;
  cursor: pointer;
}

.nav__login,
.nav__signup {
  transition: all 0.2s linear;
}

.nav__login:hover,
.nav__signup:hover {
  opacity: 0.5;
}

.nav__authorization::after {
  content: '';
  position: absolute;
  left: 34%;
  top: 50%;
  height: 10px;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color-text-main);
}


.nav__menu-list,
.nav__controls-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav__control {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}

.nav__menu-list {
  padding: 15px;
  justify-content: flex-start;
  column-gap: 40px;
}

.nav__controls-list {
  gap: 18px;
}

.nav__control {
  border-radius: 4px;
  transition: all 0.2s linear;
}

.nav__control--favorite {
  position: relative;
}

.nav__control:hover {
  background-color: var(--color-bg-grey);
}


.nav__control:active {
  background-color: #E8E7E7;
}

.nav__control--cart {
  padding-right: 0;
}

.nav__favourite-qty {
  position: absolute;
  top: -2px;
  left: 18px;
  width: 19px;
  height: 19px;
  color: var(--color-white);
  background-color: #E46942;
  font-weight: 700;
  font-size: 10px;
  line-height: 19px;
  border-radius: 50%;
  text-align: center;
}

.nav__menu-link {
  display: block;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.nav__menu-link:hover {
  opacity: 0.5;
}

.nav__search-form {
  border-left: 1px solid var(--color-grey);
  position: relative;
  padding-left: 16px;
}

.nav__search-input {
  padding: 10px 0 10px 40px;
  border: none;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
}

.nav__search-form::before {
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  background: url('../../../public/img/icons/search.svg') center no-repeat;
}

.nav__search-input::placeholder {
  color: var(--color-input-placeholder);
}

