@font-face {
  font-family: 'Inter';
  src: url("../../fonts/inter-300.woff2") format("woff2"),
  url("../../fonts/inter-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/inter-400.woff2") format("woff2"),
  url("../../fonts/inter-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/inter-500.woff2") format("woff2"),
  url("../../fonts/inter-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/inter-600.woff2") format("woff2"),
  url("../../fonts/inter-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/inter-700.woff2") format("woff2"),
  url("../../fonts/inter-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Prata';
  src: url("../../fonts/prata-400.woff2") format("woff2"),
  url("../../fonts/prata-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../../fonts/roboto-condensed-300.woff2") format("woff2"),
  url("../../fonts/roboto-condensed-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

