html,
body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--font-family);
  min-width: var(--desktop-width);
  color: var(--color-text-main);
}
