.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  min-width: var(--mobile-width);
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.secondary-heading {
  font-family: 'Prata';
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  margin: 0;
}

.tertiary-heading {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
}

/* .field-basic,
.button-basic {
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;
}

.field-basic {
  max-height: 60px;
  padding: 20px;
  background-color: var(--color-grey);
  border: none;
  border-radius: 16px;
  color: var(--color-graphit);
} */

.button-basic {
  border: none;
  background-color: var(--color-text-main);
  color: var(--color-white);
  font-weight: 500;
  font-family: inherit;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

@media (min-width: 1300px) {
  .container {
    max-width: var(--desktop-width);
    padding: 0;
  }
}
